@use "../base/" as *;

* {
  scroll-margin-top: 80px;
}

body {
  color: $foreground-color;
  font-family: $font-gilroy-regular;
}

main {
  min-height: calc(100svh - 2rem);
  margin-top: 4.25rem;
}

section,
footer {
  @include content-grid-layout();
}
