@use "../../base" as *;

.faqs {
  position: relative;
  overflow: hidden;
  padding-block: 6rem;
  justify-items: center; /* CENTER ITEM IN CONTENT GRID */
  row-gap: 4rem;

  &__blobs {
    img {
      &:first-child {
        left: -60%;
        inset-block: 0;
        transform: rotate(50deg);
        opacity: 0.5;

        @include md {
          left: -45%;
          transform: rotate(4deg);
        }
      }

      &:last-child {
        right: -50%;
        bottom: -10%;
        opacity: 0.7;

        @include md {
          right: -40%;
          bottom: -20%;
        }
      }
    }
  }
}
